/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        function_shift {
            bindings = <&mo 3>;
            key-positions = <36 41>;
            layers = <0 1 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESC  &kp Q  &kp W  &kp E  &kp R      &kp T        &kp Z     &kp U      &kp I     &kp O   &kp P          &kp SEMICOLON
&kp TAB  &kp A  &kp S  &kp D  &kp F      &kp G        &kp H     &kp J      &kp K     &kp L   &kp BACKSPACE  &kp SLASH
&kp DOT  &kp Y  &kp X  &kp C  &kp V      &kp B        &kp N     &kp M      &kp LPAR  &kp LT  &kp EQUAL      &kp MINUS
                       &mo 1  &kp SPACE  &kp LCTRL    &kp LGUI  &kp ENTER  &mo 2
            >;
        };

        shift_layer {
            display-name = "Base+shift";
            bindings = <
&kp CARET  &kp LS(Q)  &kp LS(W)  &kp LS(E)  &kp LS(R)  &kp LS(T)    &kp LS(Z)  &kp LS(U)  &kp LS(I)  &kp LS(O)  &kp LS(P)  &kp COLON
&kp END    &kp LS(A)  &kp LS(S)  &kp LS(D)  &kp LS(F)  &kp LS(G)    &kp LS(H)  &kp LS(J)  &kp LS(K)  &kp LS(L)  &kp DEL    &kp ASTERISK
&kp COMMA  &kp LS(Y)  &kp LS(X)  &kp LS(C)  &kp LS(V)  &kp LS(B)    &kp LS(N)  &kp LS(M)  &kp RPAR   &kp GT     &kp PLUS   &kp UNDER
                                 &trans     &trans     &trans       &trans     &trans     &trans
            >;
        };

        function_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp F1   &kp F2   &kp F3    &kp F4      &kp F5       &kp F6           &kp F7    &kp F8        &kp F9    &kp F10   &kp F11   &kp F12
&kp N1   &kp N2   &kp N3    &kp N4      &kp N5       &kp N6           &kp N7    &kp N8        &kp N9    &kp N0    &kp INS   &kp BSLH
&kp SQT  &kp DQT  &kp HASH  &kp DOLLAR  &kp PERCENT  &kp AMPERSAND    &kp EXCL  &kp QUESTION  &kp LBRC  &kp LBKT  &kp PIPE  &kp TILDE
                            &trans      &trans       &trans           &trans    &trans        &trans
            >;
        };

        function_shift_layer {
            bindings = <
&kp F13   &kp AT  &kp F15  &kp F16  &kp F17  &kp F18    &kp F   &kp F   &kp F     &kp F     &kp F  &kp F
&kp HOME  &kp F   &kp F    &kp F    &kp F    &kp F      &kp F   &kp F   &kp F     &kp F     &kp F  &kp F
&kp F     &kp F   &kp F    &kp F    &kp F    &kp F      &kp F   &kp F   &kp RBRC  &kp RBKT  &kp F  &kp F
                           &trans   &trans   &trans     &trans  &trans  &trans
            >;
        };
    };
};
